

#collapsable-nav{


text-align:center;

}





.navbar-toggle{

background-color:black;



}

#nav-list{

background-color:pink;
font-color:white;




}

#dummy{


background-color: #900C3F     ;
color:white;
border: 1px solid black;
border-radius:5px;
padding:20px;
margin:20px,20px,20px,20px;
height:1000px;
position:relative;


}

#small-tile{
width:100%;
margin:0 auto 0 auto;
font-size:120%;
color:yellow;
font-weight:bold;

}



